---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/search/tweets.json?count=100&q=from:adampash%20nerd%20OR%20nerds%20OR%20baby%20OR%20wimp%20OR%20weiner%20OR%20crybaby%20OR%20loser%20OR%20whiner%20OR%20bartending%20OR%20bully%20OR%20bullying%20OR%20bullies
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="<KEY>", oauth_nonce="8f40285f24769116ac572c8ff1bec107",
        oauth_signature="vLYg5Ra8jPW3Ap5n5JpWHYPPORE%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1427850637", oauth_token="<KEY>", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Wed, 01 Apr 2015 01:10:37 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read
      X-Connection-Hash:
      - baa231c48eb04b9835871f1205e9995e
      X-Rate-Limit-Limit:
      - '180'
      X-Rate-Limit-Remaining:
      - '160'
      X-Rate-Limit-Reset:
      - '1427850663'
      X-Response-Time:
      - '41'
      X-Transaction:
      - b3fef656a1fd1eac
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '{"statuses":[{"metadata":{"iso_language_code":"en","result_type":"recent"},"created_at":"Tue
        Mar 31 20:57:28 +0000 2015","id":583010243577278465,"id_str":"583010243577278465","text":"well,
        that''s it. after a long run, I''ve finally decided to quit bartending https:\/\/t.co\/rYdW063hAl","source":"\u003ca
        href=\"http:\/\/itunes.apple.com\/us\/app\/twitter\/id409789998?mt=12\" rel=\"nofollow\"\u003eTwitter
        for Mac\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":648523,"id_str":"648523","name":"Adam
        Pash","screen_name":"adampash","location":"Brooklyn","profile_location":null,"description":"Pash
        like cash. \nCurrently: Director, Editorial Labs @GawkerMedia\nRecently: http:\/\/t.co\/RpXZoHfV3X\nFormerly:
        Editor-in-Chief @Lifehacker.","url":"http:\/\/t.co\/dWZRWkvNz5","entities":{"url":{"urls":[{"url":"http:\/\/t.co\/dWZRWkvNz5","expanded_url":"http:\/\/adampash.com","display_url":"adampash.com","indices":[0,22]}]},"description":{"urls":[{"url":"http:\/\/t.co\/RpXZoHfV3X","expanded_url":"http:\/\/andtheniwaslike.co","display_url":"andtheniwaslike.co","indices":[76,98]}]}},"protected":false,"followers_count":21120,"friends_count":581,"listed_count":1504,"created_at":"Tue
        Jan 16 19:15:40 +0000 2007","favourites_count":1515,"utc_offset":-25200,"time_zone":"Pacific
        Time (US & Canada)","geo_enabled":true,"verified":false,"statuses_count":6514,"lang":"en","contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"1A1B1F","profile_background_image_url":"http:\/\/abs.twimg.com\/images\/themes\/theme9\/bg.gif","profile_background_image_url_https":"https:\/\/abs.twimg.com\/images\/themes\/theme9\/bg.gif","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/58148540\/avatar_normal.png","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/58148540\/avatar_normal.png","profile_link_color":"2FC2EF","profile_sidebar_border_color":"181A1E","profile_sidebar_fill_color":"252429","profile_text_color":"666666","profile_use_background_image":true,"default_profile":false,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false},"geo":null,"coordinates":null,"place":null,"contributors":null,"retweet_count":0,"favorite_count":1,"entities":{"hashtags":[],"symbols":[],"user_mentions":[],"urls":[{"url":"https:\/\/t.co\/rYdW063hAl","expanded_url":"https:\/\/instagram.com\/p\/0xp-u9PYhs\/","display_url":"instagram.com\/p\/0xp-u9PYhs\/","indices":[75,98]}]},"favorited":false,"retweeted":false,"possibly_sensitive":false,"lang":"en"}],"search_metadata":{"completed_in":0.019,"max_id":583010243577278465,"max_id_str":"583010243577278465","query":"from%3Aadampash+nerd+OR+nerds+OR+baby+OR+wimp+OR+weiner+OR+crybaby+OR+loser+OR+whiner+OR+bartending+OR+bully+OR+bullying+OR+bullies","refresh_url":"?since_id=583010243577278465&q=from%3Aadampash%20nerd%20OR%20nerds%20OR%20baby%20OR%20wimp%20OR%20weiner%20OR%20crybaby%20OR%20loser%20OR%20whiner%20OR%20bartending%20OR%20bully%20OR%20bullying%20OR%20bullies&include_entities=1","count":100,"since_id":0,"since_id_str":"0"}}'
  recorded_at: Wed, 01 Apr 2015 01:10:37 GMT
recorded_with: VCR 2.9.3
